/*CSS SET*/

body {
  background-color: indigo;
}

main {
  background-color: #cecece;
}

.separator {
  height: 10vh;
  width: 100%;
  background-color: indigo;
}

.header-picture {
  /*background: url('/images/background.jpg') center/cover;*/
}
