/*CSS SET*/

body {
  background-color: rgb(0, 150, 136);
}

main {
  background-color: #cecece;
}

.mdl-mini-footer {
  background-color: tomato;
  padding: 0px 16px;
}

.negative-top {
  margin-top: -50px;
}

.separator {
  height: 10vh;
  width: 100%;
  background-color: rgb(0, 150, 136);
}

.header-picture {
  /*background: url('/images/background.jpg') center/cover;*/
}
