/*CSS SET*/
/* GENERIC */

main {
  background-color: #fafafa;
}

/* Code syntax personalization */
pre { border-radius: 4px; }
.highlight { padding: 20px; }

/* Negative margin on every page*/
.negative-top { margin-top: -50px; }

.separator {
  height: 10vh;
  width: 100%;
}

/**********************************************/
/*                    MENUS                   */
/**********************************************/


/**********************************************/
/*                    PAGES                   */
/**********************************************/
/******
  HOME
*******/
#fork-me-button {
  position: absolute;
  bottom: 50px;
  right: 50px;
}

#card_home {
  min-height: 70vh;
}

#card_home > .mdl-card__title {
  /*background: url('//i.giphy.com/gU25raLP4pUu4.gif') center/cover;*/
  background: url('/images/home_abstract.png') center/cover;
  height: 150px;
}

/*******
  ABOUT
********/
#profile-picture {
  border-radius: 50%;
}

.about-service-title {
  /*vertical-align: top;*/
}

.max-width {
  width: 100%;
}

/**********************************************/
/*                    POSTS                   */
/**********************************************/
/******
  POST
*******/

.twitter-fab-share {
  position: absolute;
  bottom: 50px;
  right: 50px;
}

.post-title-text {
  color: white;
  background-color: rgba(0,0,0,0.4);
}

.single-post.selected {
	margin-top: 20px;
  margin-bottom: 20px;
	transition: .4s;
	-webkit-transition: .4s;
  -moz-transition: .4s;
}

/*.post-margin {
  margin-bottom: 20px;
}*/
.post-image {
  max-width: 20px;
  max-height: 20px;

}
.post-date {
  font-size: 0.8em;
}


/* Tweet theme override */
