---
layout: default
title: mcomisso.io
description: Index of blog
---
<!-- List of posts -->
<div class="mdl-cell mdl-cell--8-col ">

{% for post in site.posts %}
  <div class="single-post mdl-card max-width mdl-shadow--2dp post-margin">
    <div class="mdl-card__title" style="background: url('/images/posts/{{ post.title | slugify }}.png') center/cover;">
      <h2 class="mdl-card__title-text post-title-text">
        {{post.title}}
      </h2>
    </div>

    <div class="mdl-card__supporting-text">
      <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--10-col">
          <span class="post-date">{{post.date | date_to_string}} | <span>{{post.content | number_of_words }} words</span></span>
          <p> {{ post.excerpt | strip_html }} </p>
        </div>
        <div class="mdl-cell mdl-cell--2-col">
          {% if post.has_picture %}
          <img class="post-image" src="/images/posts/{{ post.title | slugify }}.png" max-width="200" max-height="200" alt="image {{ post.title | slugify }}" />
          {% endif %}
        </div>
      </div>

    </div>
    <div class="mdl-card__actions mdl-card--border">
      <a href="{{ post.url }}" class="mdl-button mdl-js-button mdl-button--accent">
        Read more
      </a>
    </div>
  </div>
  <div class="mdl-grid">

  </div>
{% endfor %}
</div>
