<header class="mdl-layout__header mdl-layout__header--transparent">
  <div class="mdl-layout__header-row">
    <!-- Title -->
    <span class="mdl-layout-title">{{page.title}}</span>
    <!-- Add spacer, to align navigation to the right -->
    <div class="mdl-layout-spacer"></div>
    <!-- Navigation -->
    <nav class="mdl-navigation">
      {% include menu.html %}
    </nav>

    <button onclick="window.location.href='https://github.com/mcomisso/mcomisso.github.io'" class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent mdl-js-ripple-effect">
      <span><i class="fa fa-github-square"></i> Fork</span>
    </button>

  </div>
</header>

{% include sidebar.html %}
