<!-- Renders post date, title, and snippet of text. -->
<div class="py-2 mb-2 prose">
    <a class="no-underline h5 bold text-accent" title="{{ post.url | prepend: site.baseurl }}" href="{{ post.url | prepend: site.baseurl }}">{{ post.date | date: "%b %-d, %Y" }}</a>

    {% if post.categories contains "micropost" %}
      <p>{{ post.content }}</p>
      {% if post.hasImage %}
      <img src="{{ site.url }}/images/microblog/{{ post.date | date: "%y%m%d%H%M%S" }}" alt="Image for [{{ post.date }}]" width=400 height=400/> 
      {% endif %}
    {% else %}
      <h2 class="h1 lh-condensed col-9 mt-0">    
        <a class="link-primary" title="{{ post.url | prepend: site.baseurl }}" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
      </h2>
      <p>{{ post.content | strip_html | truncatewords:30 }}</p>
    {% endif %}
    
  </div>
  