<div class="mdl-layout__drawer">
  <span class="mdl-layout__title">
    {{site.title}}
  </span>
<nav class="mdl-navigation">
  {% include menu.html %}
  <ul class="mdl-list">
    <li class="mdl-list__item">
      <span class="mdl-list__item-primary-content">
        Latest posts
      </span>
    </li>
    <!-- Loop for latest posts -->
    {% for post in site.posts limit: 3 %}
    <li class="mdl-list__item mdl-list__item--two-line">
      <span class="mdl-list__item-primary-content">
        <a href="{{ post.url }}">
          {{ post.title }}
        </a>
        <span class="mdl-list__item-sub-title">{{ post.date | date_to_string }}</span>
      </span>
    </li>
    {% endfor %}
  </ul>
</nav>
<!-- Insert latest posts -->
</div>
