<div class="mdl-layout__drawer" style="overflow: hidden;">
<nav class="mdl-navigation">
  {% include menu.html %}
  <ul class="mdl-list">
    <li class="mdl-list__item">
      <span class="mdl-list__item-primary-content">
        Latest posts
      </span>
    </li>
    <!-- Loop for latest posts -->
    {% for post in site.posts %}
    <li class="mdl-list__item mdl-list__item--two-line">
      <span class="mdl-list__item-primary-content">
        <span class="">
          <a href="{{ post.url }}">
            {{ post.title }}
          </a>
        </span>
        <span class="mdl-list__item-sub-title">{{ post.date | date_to_string }}</span>
      </span>
    </li>
    {% endfor %}
  </ul>
</nav>
<!-- Insert latest posts -->
<div class="mdl-grid">
  <div class="mdl-cell--3-col">
    {% include twitter.html %}
  </div>
</div>
</div>
