---
layout: default
title: About
description: About page
---

<div class="mdl-cell mdl-cell--8-col mdl-cell--2-offset-desktop">
  <div class="mdl-card mdl-shadow--2dp max-width">
    <div class="mdl-card__title">
	<h2 class="mdl-card__title-text">Hello</h2>
    </div>
    <div class="mdl-card__supporting-text mdl-card--border">
      <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-phone">
          <img id="profile-picture"
			class="mdl-shadow--4dp mdl-cell--12-col"
			src="https://twitter.com/{{ site.about.services[1].username | remove: '@' }}/profile_image?size=original" alt="" />
        </div>
        <div class="mdl-cell mdl-cell--9-col mdl-cell--4-col-phone">
          <p class="mdl-typhography--body">
            I am Matteo Comisso, a web and iOS developer located in Venice, Italy. <br/>
          </p>
          <p>
            My current interests are Swift development and server architectures/management. <br/>
            Actually, my interests varies a lot depending on what's the hottest tech in town, but I'll stick with these for a bit.
          </p>
          <p>
            Recently I posted something about:
            {% assign post = site.posts | first %}
            {% assign slug = post.title | slugify %}
            <a id="{{ slug }}" href="{{ post.url }}">{{ post.tags | sort | array_to_sentence_string }}</a>
            <div class="mdl-tooltip" for="{{ slug }}">
              {{ post.title }}
            </div>
          </p>
          <div class="mdl-grid">
            {% for service in site.about.services %}
            <div class="mdl-cell mdl-cell--1-col">
              <a href="{{ service.url }}">
                <i id="{{ service.name | slugify }}" class="fa fa-{{ service.name }} fa-2x"></i>
              </a>
              <div class="mdl-tooltip" for="{{ service.name | slugify }}">
                {{ service.username }}
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="mdl-grid">
  <!-- This is just a separator -->
  </div>

  <script type="text/javascript" src="https://cdn.emailjs.com/dist/email.min.js"></script>
  <script type="text/javascript">
    (function(){
      emailjs.init("user_DDSmx6zNkyXW7LyH7EbGA");
    })();

    var sendMail = function() {
      var name = document.getElementById('name_field').value;
      var email = document.getElementById('email_field').value;
      var notes = document.getElementById('notes_field').value;

      var dialog = document.querySelector('dialog');
      dialog.querySelector('.close').addEventListener('click', function() {
        dialog.close();
      });
      if (! dialog.showModal) {
        dialogPolyfill.registerDialog(dialog);
      }

      if (email.length > 0 && notes.length > 0) {
        // Show with default spinner (in template)
        dialog.showModal();
        emailjs.send("gmail_acc","personal_site_connection",{name: name, email: email, notes: notes})
        .then(function(response) {
          // console.log("SUCCESS. status=%d, text=%s", response.status, response.text);
          $('.mdl-dialog__title').text('Done');
          $('.mdl-dialog__content').text('Email sent. Thank you!');
        }, function(err) {
          // console.log("FAILED. error=", err);
          $('.mdl-dialog__title').text('Error :(');
          $('.mdl-dialog__content').text('Please, try again later.');
        });
      }
    };
  </script>

  <div class="mdl-card mdl-shadow--2dp max-width">
    <div class="mdl-card__title">
      <h2 class="mdl-card__title-text">Get in touch</h2>
    </div>
    <div class="mdl-card__supporting-text mdl-card--border">
      <div class="mdl-cell mdl-cell--12-col">
        <div class="mdl-grid">
          <!-- Send mail  -->
          <div class="mdl-cell mdl-cell--6-col">
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label max-width">
              <input class="mdl-textfield__input" type="text" id="email_field">
              <label class="mdl-textfield__label" for="email_field">Email...</label>
            </div>
          </div>
          <div class="mdl-cell mdl-cell--6-col">
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label max-width">
              <input class="mdl-textfield__input" type="text" id="name_field">
              <label class="mdl-textfield__label" for="name_field">Name...</label>
            </div>
          </div>
          <div class="mdl-cell mdl-cell--12-col">
            <div class="mdl-textfield mdl-js-textfield max-width">
              <textarea class="mdl-textfield__input" type="text" rows= "2" id="notes_field" ></textarea>
              <label class="mdl-textfield__label" for="notes_field">Notes...</label>
            </div>
          </div>
          <button class="mdl-button" name="button" onclick="sendMail()">Send</button>
        </div>
      </div>
    </div>
  </div>

  {% include dialog.html %}
</div>
