<!DOCTYPE html>
<html lang="{% if page.language ‰}{{ page.language }}{% else %}{{ site.language }}{% endif %}">
  <head>
    <title>{{ page.title }}</title>
    {% include meta.html %}
    {% include styles.html %}
  </head>
  <body>
    <div class="header-picture mdl-layout mdl-js-layout">
      {%include header.html %}

    <!-- MAIN CONTENT -->
    <main class="mdl-layout__content">
      <div class="separator"></div>
      <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--2-col"></div>
        <div class="mdl-cell mdl-cell--8-col">
          {{content}}
        </div>
        <div class="mdl-cell mdl-cell--2-col"></div>
      </div>

    </main>

    {% include footer.html %}
    </div>

    {% include scripts.html %}
  </body>
</html>
