---
---
<!DOCTYPE html>
<html lang="{% if page.language ‰}{{ page.language }}{% else %}{{ site.language }}{% endif %}">
  <head>
    <title>{{ site.title }} {% if page.title %}- {{ page.title }} {% endif %}</title>
    {% include meta.html %}
    {% include styles.html %}
    {% seo %}
  </head>
  <body class="mdl-color--primary">
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
      {%include header.html %}
      <!-- MAIN CONTENT -->
      <main class="mdl-layout__content">
        <div class="ribbon mdl-color--primary"></div>
        <div class="mdl-grid negative-top">
          {{ content }}
        </div>
      </main>
    </div>
    {% include scripts.html %}
  </body>
</html>
