<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    {% include meta.html %}
    {% include styles.html %}
  </head>
  <body>
    <div class="header-picture mdl-layout mdl-js-layout">
      <header class="mdl-layout__header mdl-layout__header--transparent">
        <div class="mdl-layout__header-row">
          <!-- Title -->
          <span class="mdl-layout-title">{{page.title}}</span>
          <!-- Add spacer, to align navigation to the right -->
          <div class="mdl-layout-spacer"></div>
          <!-- Navigation -->
          <nav class="mdl-navigation">
            <a class="mdl-navigation__link" href="/">Home</a>
            <a class="mdl-navigation__link" href="/projects">Hobby Projects</a>
            <a class="mdl-navigation__link" href="/cv">Personal CV</a>
            <a class="mdl-navigation__link" href="/about">About</a>
          </nav>
        </div>
      </header>
      <div class="mdl-layout__drawer">
      <nav class="mdl-navigation">
        <a class="mdl-navigation__link" href="/">Home</a>
        <a class="mdl-navigation__link" href="/projects">Hobby Projects</a>
        <a class="mdl-navigation__link" href="/cv">Personal CV</a>
        <a class="mdl-navigation__link" href="/about">About</a>
      </nav>

      <!-- Insert latest posts -->
    </div>

    <!-- MAIN CONTENT -->
    <main class="mdl-layout__content">
      {{content}}
    </main>

    {% include footer.html %}
    </div>

    {% include scripts.html %}
  </body>
</html>
