---
---
<!DOCTYPE html>
<html lang="{% if page.language %}{{ page.language }}{% else %}{{ site.language }}{% endif %}">
{% include meta.html %}
  <head>
    <title>{{ page.title }}</title>
    {% include styles.html %}
  </head>
  <style media="screen">
    body {
      height: 100%;
    }
    .centered {
      text-align: center;
      margin: 0 auto;
    }
  </style>
  <body class="mdl-color--primary">
    <div class="mdl-grid">
      <div class="mdl-cell mdl-cell--12-col mdl-cell--stretch">
        <div class="mdl-card mdl-shadow--2dp centered">
          {{content}}
          <!-- Navigation buttons -->
          <div class="mdl-card__actions mdl-card--border">
            <a class="mdl-button mdl-js-button mdl-button--colored mdl-js-ripple-effect" href="/">Home</a>
            <a class="mdl-button mdl-js-button mdl-button--colored mdl-js-ripple-effect" href="/blog">Blog</a>
            <a class="mdl-button mdl-js-button mdl-button--colored mdl-js-ripple-effect" href="/about">About</a>
          </div>

        </div>

      </div>
    </div>
    {% include scripts.html %}
  </body>
</html>
