---
layout: default
---

<div class="home">

  <h1 class="page-heading">What's new?</h1>

  <ul class="post-list">

    {% for post in site.posts %}
      {% if post.categories contains "micropost" %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y - %H:%M" }}</span>
        {{ post.content }}
      </li>

      {% else %}
          
      <li>

          {% assign words_count = post.content | number_of_words %}
          {% assign reading_time = words_count | plus: 0.0 | divided_by: 180 | ceil %}

          {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
          <span class="post-meta">{{ post.date | date: date_format }} - {{ reading_time | append: "' read" }}</span>

          <h2>
            <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
          </h2>
          {{ post.excerpt | strip_html | truncatewords: 20 }}
        </li>
      {% endif %}
    {% endfor %}
  </ul>

  <p class="rss-subscribe"> <i class="fas fa-rss-square"></i> Subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a> or <a href="{{ "/feed.json" | relative_url }}">via JSON</a> </p>

</div>
