---
layout: default
title: Projects
---
{% comment %}
Page base layout.
The variable page.colored is set to switch content's wrapper between mdl-card and single max-width column.
{% endcomment %}

<div class="mdl-cell
  mdl-cell--8-col
  mdl-cell--2-offset-desktop
  mdl-cell--4-col-phone
  mdl-cell--8-col-tablet">
{% if page.colored %}
  {% comment %} This layout is for every page with white background. {% endcomment %}
  <div class="mdl-card max-width mdl-shadow--2dp">
    <div class="mdl-card__supporting-text">
      {{ content }}
    </div>
  </div>
{% else %}
  {% comment %} This layout is for every other style. {% endcomment %}
  <div class="max-width">
    {{ content }}
  </div>
{% endif %}
</div>
