---
layout: default
comments: true
---
{% comment %}
<!-- contains the single post -->
{% endcomment %}
<div class="mdl-cell mdl-cell--8-col mdl-cell--2-offset-desktop mdl-cell--4-col-phone mdl-cell--8-col-tablet">
  <div class="mdl-card max-width mdl-shadow--2dp mdl-animation--default">
    <div class="mdl-card__title post-header mdl-color--blue-grey-800">
      <h2 class="mdl-card__title-text mdl-color-text--grey-100">
        {{ page.description }}
      </h2>
    </div>
    <div class="mdl-card__supporting-text">
      {{ content }}
      <hr/>
      <h5>Questions? Feel free to ask!</h5>
    </div>

    <div class="mdl-card__menu">
      <button id="share-post" class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
        <i class="material-icons mdl-color-text--grey-100">share</i>
      </button>
    </div>
    <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect"
    for="share-post">
      <li class="mdl-menu__item">
        <a class="mdl-navigation__link" target="_blank" href="https://twitter.com/intent/tweet?via={{ site.about.services[1].username | remove: '@' }}&text={{page.description}}&url={{ site.url | append: page.url | url_encode }}"><i class="fa fa-twitter"></i> Twitter</a>
      </li>
      <li class="mdl-menu__item">
        <a class="mdl-navigation__link" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u={{ site.url | append: page.url | url_encode }}"><i class="fa fa-facebook"></i> Facebook</a>
      </li>
    </ul>

  </div>

  <!-- PREV - NEXT pages -->
  <div class="mdl-grid">
    <div class="mdl-cell--2-col mdl-cell--2-col-phone mdl-cell--4-col-tablet">
      {%  if page.previous %}
      <a href="{{page.previous.url}}" class="mdl-button mdl-button--raised mdl-button--colored" id="prev-button">PREVIOUS</a>
      <div class="mdl-tooltip" for="prev-button">
        {{page.previous.title}}
      </div>
      {% else %}
      <a href="#" class="mdl-button mdl-button--disabled" id="prev-button">PREVIOUS</a>
      {% endif %}
    </div>
    <div class="mdl-cell--2-col mdl-cell--8-offset-desktop mdl-cell--2-col-phone mdl-cell--4-col-tablet">
      {% if page.next %}
      <a href="{{ page.next.url }}" class="mdl-button mdl-button--raised mdl-button--colored" id="next-button">NEXT</a>
      <div class="mdl-tooltip" for="next-button">
        {{page.next.title}}
      </div>
      {% else %}
      <a href="#" class="mdl-button mdl-button--disabled" id="next-button">NEXT</a>
      {% endif %}
    </div>
  </div>

</div>
<div class="mdl-cell mdl-cell--8-col mdl-cell--2-offset-desktop mdl-cell--4-col-phone mdl-cell--8-col-tablet">
  {% include disqus.html %}
</div>
