---
layout: default
---
{% comment %}
<!-- contains the single post -->
{% endcomment %}
  <div class="mdl-cell mdl-cell--8-col mdl-cell--2-offset">
    <div class="mdl-card max-width mdl-shadow--2dp">
      <div class="mdl-card__supporting-text">
      {{ content }}
      </div>
    </div>
  </div>

  <!--
  Include prev - next
  If theres entries, raised, else nope
  -->
  <div class="mdl-grid">
    <div class="mdl-cell--2-col">
      <a href="#" class="mdl-button" id="prev-button">PREVIOUS</a>
      <div class="mdl-tooltip" for="prev-button">

      </div>
    </div>
    <div class="mdl-cell--2-col mdl-cell--8-offset">
      <a href="#" class="mdl-button" id="next-button">NEXT</a>
      <div class="mdl-tooltip" for="next-button">

      </div>
    </div>
  </div>
  {% include disqus.html %}
</div>
